<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aed9f0">  <td>18/06/28 14:39:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.After()[pri:0, instance:Company.COMP_01_LOC_01_PermissionApprover_Client@22a67b4]">&lt;&lt;After</td> 
<td>&nbsp;</td>  <td>main@92150540</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>18/06/28 14:37:52</td>   <td>-97979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="COMP_01_LOC_01_PermissionApprover_Client.OutwardRole_Client()[pri:0, instance:Company.COMP_01_LOC_01_PermissionApprover_Client@22a67b4]">OutwardRole_Client</td> 
  <td>main@92150540</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/06/28 14:37:37</td>   <td>-113802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.read()[pri:0, instance:Company.COMP_01_LOC_01_PermissionApprover_Client@22a67b4]">&gt;&gt;read</td> 
<td>&nbsp;</td>  <td>main@92150540</td>   <td></td> </tr>
</table>
