<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d7a79">  <td>18/05/24 12:26:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.read()[pri:0, instance:Company.COMP_ADD_01@30b8a058]">&gt;&gt;read</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>18/05/24 12:27:05</td>   <td>16879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="COMP_ADD_01.CreateCompany01()[pri:0, instance:Company.COMP_ADD_01@30b8a058]">CreateCompany01</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 12:32:08</td>   <td>320450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.After()[pri:0, instance:Company.COMP_ADD_01@30b8a058]">&lt;&lt;After</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 12:32:10</td>   <td>322466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.read()[pri:0, instance:Company.COMP_VIEW_01@7494e528]">&gt;&gt;read</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="7fa893">  <td>18/05/24 12:32:25</td>   <td>336886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="COMP_VIEW_01.VIEW_01()[pri:0, instance:Company.COMP_VIEW_01@7494e528]">VIEW_01</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 12:34:58</td>   <td>490478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.After()[pri:0, instance:Company.COMP_VIEW_01@7494e528]">&lt;&lt;After</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 12:35:00</td>   <td>492388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.read()[pri:0, instance:Company.COMP_EDIT_01@4bbfb90a]">&gt;&gt;read</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>18/05/24 12:35:16</td>   <td>507806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="COMP_EDIT_01.EDIT_01()[pri:0, instance:Company.COMP_EDIT_01@4bbfb90a]">EDIT_01</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 12:40:46</td>   <td>838043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.After()[pri:0, instance:Company.COMP_EDIT_01@4bbfb90a]">&lt;&lt;After</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 12:40:48</td>   <td>840532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.read()[pri:0, instance:Company.COMP_VIEW_EDIT_01@7c29daf3]">&gt;&gt;read</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>18/05/24 12:41:04</td>   <td>856049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="COMP_VIEW_EDIT_01.COMP_VIEW_EDIT()[pri:0, instance:Company.COMP_VIEW_EDIT_01@7c29daf3]">COMP_VIEW_EDIT</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 12:43:35</td>   <td>1007167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.After()[pri:0, instance:Company.COMP_VIEW_EDIT_01@7c29daf3]">&lt;&lt;After</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 12:43:37</td>   <td>1009499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.read()[pri:0, instance:Company.COMP_LOC_ADD_01@9660f4e]">&gt;&gt;read</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="78c790">  <td>18/05/24 12:43:52</td>   <td>1023876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="COMP_LOC_ADD_01.LOC_01()[pri:0, instance:Company.COMP_LOC_ADD_01@9660f4e]">LOC_01</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 12:48:29</td>   <td>1301078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.After()[pri:0, instance:Company.COMP_LOC_ADD_01@9660f4e]">&lt;&lt;After</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 12:48:31</td>   <td>1303060</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.read()[pri:0, instance:Company.COMP_LOC_VIEW_01@5a8806ef]">&gt;&gt;read</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>18/05/24 12:48:46</td>   <td>1318045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="COMP_LOC_VIEW_01.LOC_VIEW_01()[pri:0, instance:Company.COMP_LOC_VIEW_01@5a8806ef]">LOC_VIEW_01</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 12:51:27</td>   <td>1479515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.After()[pri:0, instance:Company.COMP_LOC_VIEW_01@5a8806ef]">&lt;&lt;After</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 12:51:29</td>   <td>1481374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.read()[pri:0, instance:Company.COMP_LOC_EDIT_01@6c49835d]">&gt;&gt;read</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>18/05/24 12:51:44</td>   <td>1495955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="COMP_LOC_EDIT_01.LOC_VIEW()[pri:0, instance:Company.COMP_LOC_EDIT_01@6c49835d]">LOC_VIEW</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 12:56:24</td>   <td>1775655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.After()[pri:0, instance:Company.COMP_LOC_EDIT_01@6c49835d]">&lt;&lt;After</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 12:56:26</td>   <td>1777655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.read()[pri:0, instance:Company.COMP_VIEW_EDIT_LOC1@5e853265]">&gt;&gt;read</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>18/05/24 12:56:40</td>   <td>1792273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="COMP_VIEW_EDIT_LOC1.LOC_EDIT_VIEW()[pri:0, instance:Company.COMP_VIEW_EDIT_LOC1@5e853265]">LOC_EDIT_VIEW</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 12:59:08</td>   <td>1939747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.After()[pri:0, instance:Company.COMP_VIEW_EDIT_LOC1@5e853265]">&lt;&lt;After</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 12:59:10</td>   <td>1941766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.read()[pri:0, instance:Company.COMP_GSTN_ERROR_ADD_01@67205a84]">&gt;&gt;read</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>18/05/24 12:59:25</td>   <td>1956667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="COMP_GSTN_ERROR_ADD_01.COMP_GSTN_ERROR_01()[pri:0, instance:Company.COMP_GSTN_ERROR_ADD_01@67205a84]">COMP_GSTN_ERROR_01</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 13:04:01</td>   <td>2232628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.After()[pri:0, instance:Company.COMP_GSTN_ERROR_ADD_01@67205a84]">&lt;&lt;After</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 13:04:03</td>   <td>2234638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.read()[pri:0, instance:Company.COMP_ADD_NEG_01@7d0587f1]">&gt;&gt;read</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>18/05/24 13:04:18</td>   <td>2249777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="COMP_ADD_NEG_01.ADD_NEG_01()[pri:0, instance:Company.COMP_ADD_NEG_01@7d0587f1]">ADD_NEG_01</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 13:07:16</td>   <td>2427994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.After()[pri:0, instance:Company.COMP_ADD_NEG_01@7d0587f1]">&lt;&lt;After</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 13:07:18</td>   <td>2429899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.read()[pri:0, instance:Company.LOC_ADD_NEG_01@5d76b067]">&gt;&gt;read</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/05/24 13:07:33</td>   <td>2444576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LOC_ADD_NEG_01.ADD_NEG_01()[pri:0, instance:Company.LOC_ADD_NEG_01@5d76b067]">ADD_NEG_01</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 13:10:29</td>   <td>2620872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.After()[pri:0, instance:Company.LOC_ADD_NEG_01@5d76b067]">&lt;&lt;After</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 13:10:31</td>   <td>2623074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.read()[pri:0, instance:Company.COMP_ADD_NEG_MANDATORY_02@2a17b7b6]">&gt;&gt;read</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="be83e4">  <td>18/05/24 13:10:47</td>   <td>2638638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="COMP_ADD_NEG_MANDATORY_02.COMP_ADD_NEG()[pri:0, instance:Company.COMP_ADD_NEG_MANDATORY_02@2a17b7b6]">COMP_ADD_NEG</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 13:11:57</td>   <td>2708584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.After()[pri:0, instance:Company.COMP_ADD_NEG_MANDATORY_02@2a17b7b6]">&lt;&lt;After</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 13:11:58</td>   <td>2710025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.read()[pri:0, instance:Company.LOC_ADD_NEG_MANDATORY_02@4f063c0a]">&gt;&gt;read</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="cbb882">  <td>18/05/24 13:12:13</td>   <td>2724649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LOC_ADD_NEG_MANDATORY_02.ADD_NEG_01()[pri:0, instance:Company.LOC_ADD_NEG_MANDATORY_02@4f063c0a]">ADD_NEG_01</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/05/24 13:13:29</td>   <td>2801171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.After()[pri:0, instance:Company.LOC_ADD_NEG_MANDATORY_02@4f063c0a]">&lt;&lt;After</td> 
<td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
</table>
